#home-button {
    position: fixed;
    top: 0;
    left: 0;
}

.mapa {
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-left: 0rem;
    gap: 10rem;

    @media (min-width: 1024px) {
        padding: 1rem;
        gap: 3rem;
        margin: 0;
    }
}

.topico-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1.5px solid white;
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
}
.topico-title {
    position: relative;
    bottom: -0.8rem;
    
    display: inline-block;
    width: fit-content;
    background-color: var(--bg-primary);
    padding: 0 0.5rem;

    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;        
    font-weight: 600;
    text-align: center;
  
}

/* TRILHA DE MEMBROS */
.trilha-membros {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    & div {
        position: relative;
    }

    /* Inicio da trilha */
    & #membros-card {
        position: relative;
        margin-right: 9.5rem;
    }

    /* Rotas */
    & #rotas-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    & #trilha_conhecimentos {
        position: relative;
        height: 5rem;
    }
    & #trilha_materiais-1 {
        position: absolute;
        inset: -7.8rem -1rem;
        height: 10rem;
    }
    & #trilha_materiais-2 {
        position: absolute;
        inset: -12rem -3.3rem;
        width: 4.4rem;
    }
    & #trilha_tresd {
        position: absolute;
        inset: -6rem -10rem;
        width: 11rem;
    }
    & #trilha_cpp {
        position: absolute;
        inset: -6rem -1rem;
        width: 4.5rem;
    }
    & #trilha_lua {
        position: absolute;
        inset: -5.2rem -1rem;
        width: 11rem;
    }
    & #tresd_godot {
        position: absolute;
        inset: -15rem -10.8rem;
        height: 5rem;
    }
    & #cpp_opengl {
        position: absolute;
        inset: -16rem 2.2rem;
        height: 6rem;
    }
    & #lua_doisd {
        position: absolute;
        inset: -16rem 8.7rem;
        height: 6rem;
    }

    /* Cursos */
    & .cursos-container {
        position: relative;
        display: grid;
        grid-template-areas: 
            "curso1 curso2 curso3 curso4"
            "curso5 curso2 curso6 curso7";
        gap: 4rem 2.5rem;
        margin-bottom: 4.5rem;
    }
    & #material {
        grid-area: curso2;
        margin-top: 3.2rem;
    }
}

/* TRILHA ... */