.curso-card-wrapper {
    position: relative;
    max-width: fit-content;
    height: fit-content;
    z-index: 2;
    
    overflow: visible;
}

.curso-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .icon {
        width: 4rem;
        height: 4rem;
    }
}

.horizontal {
    flex-direction: row;
}

.curso-label {
    width: 3.75rem;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
}

.bg-overlay {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 100dvw;
    min-height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);   
    overflow: hidden;
    z-index: 10;
}

.curso-modal-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24.5rem;
    z-index: 100;
    
    @media (min-width: 1024px) {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: -3.25rem;
        left: 12.75rem;
        transform-origin: none;
        pointer-events: none;
    }
}