.curso-card-wrapper {
    position: fixed;
    z-index: 2;
    
    overflow: visible;
    @media (min-width: 640px) {
        position: relative;
    }
}

.curso-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .icon {
        width: 5rem;
        height: 5rem;
    }
}

.horizontal {
    flex-direction: row;
}

.curso-label {
    width: 4.5rem;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
}

.bg-overlay {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);    
    overflow: hidden;
    z-index: 5;
}

.curso-modal-container {
    position: relative;
    z-index: 10;
    
    @media (min-width: 640px) {
        position: absolute;
        top: 3rem;
        left: 11rem;
        pointer-events: none;
        transform: translate(0, 0);
    }
}