:root {
  font-family: "Roca Two",  system-ui;
  font-weight: 200;
  line-height: 1.5;
  font-size: clamp(12px, 2vw + 0.3em, 18px);

  color: var(--content-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Texto */
  --content-primary: #FFFFFF;

  /* Fundo */
  --bg-primary: #161026;

  /* Cores da marca */
  --brand-blue: #99ffe6;
  --brand-yellow: #fdff99;
  --brand-pink: #ff99a1;
  --brand-red: #f20548;
  --brand-black: #161026;
  --brand-purple: #583df2;
  --brand-violet: #a399ff;

  /* Cores gerais */
  --red: #F20548;
  --purple: #583DF2;
  --yellow: #FDFF99;
  --white: #FFFFFF;
  --blue: #7684FF;
  --pink: #FF4B71;
  --green: #8DFF92;
  --orange: #FF9345;
  
  --red-light: #FF9595;
  --purple-light: #B385E7;
  --blue-light: #67BDE7;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  justify-content: center;
  min-width: 100dvw;
  min-height: 100dvh;
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
}

@font-face {
  font-family: 'Roca Two';
  src: url('/fonts/roca-two-thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roca Two';
  src: url('/fonts/roca-two-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} 